{% extends 'base.html' %}
{% block title %}Dead People{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1>Dead People</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Killed By</th>
                <th>Time Died</th>
            </tr>
        </thead>
        <tbody>
            {% for dead in dead %}
            <tr>
                <td>{{ dead.id }}</td>
                <td>{{ dead.names }}</td>
                <td>{{ dead.killer }}</td>
                <td>{{ dead.time_died }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}